{% extends "base/base.html" %}
{% block container %}
<div class="x_panel">
	<div class="x_title">
		<h2>Registrar Ingreso</h2>
		<div class="clearfix"></div>
	</div>
	<div class="x_content">
		<form action="" method="POST" id="formulario">{% csrf_token %}
			<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-4 col-xs-12">
				<fieldset>
	                {% for field in form %}
	                    {% if field.errors %}
	                        <div class="alert alert-danger" role="alert">
	                            {{ field.errors }}
	                        </div>
	                    {% endif %}
	                    <div class="form-group">
	                        {{ field.label_tag }}
	                        {{ field }}
	                    </div>
	                    {% if field.help_text %}
	                        <p class="help-block">{{ field.help_text|safe }}</p>
	                    {% endif %}
	                {% endfor %}
                	<br>


					<div class="text-center">
						<input type="submit" value="Guardar" class="btn btn-primary btn-sm">
						<a href="{% url 'lista_articulo' %}" class="btn btn-default btn-sm">Cancelar</a>
					</div>
				</fieldset>
			</div>
		</form>
	</div>
</div>
{% endblock container %}