{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta class="v"></meta>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title> E.  M.  A.  P. </title>

		<link rel="stylesheet" href="{% static "web/bootstrap/css/bootstrap.min.css" %}">
		<link rel="stylesheet" href="{% static "web/font-awesome/css/font-awesome.min.css" %}">
		<link rel="stylesheet" href="{% static "css/custom.min.css" %}">
		<link rel="stylesheet" href="{% static "css/main.css" %}">

		{% block css %} 	{% endblock css %}
	</head>
	<body class="nav-md">
		{% load helper_user %}
		<div class="container body">
			<div class="main_container">
				<div class="col-md-3 left_col">
					<div class="left_col scroll-view">
						<div class="navbar nav_title" style="border: 0;">
							<a href="{% url 'inicio' %}" class="site_title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span>E. M. A. P.</span></a>
						</div>

						<div class="clearfix"></div>

						<!-- menu profile quick info -->
						<div class="profile">
							<div class="profile_pic">
								<img src='/media/{% perfil request.user.id %}' alt="..." class="img-circle profile_img" width="100px"t>
								<!--<img src="{% static "images/avatar.png" %}" alt="..." class="img-circle profile_img">-->

							</div>
							<div class="profile_info">
								<span>Bienvenido</span>
								<h2>{{ user.first_name|capfirst }}&nbsp;{{ user.last_name|capfirst }}</h2>
							</div>
						</div>
						<!-- /menu profile quick info -->

						<br />
						{% if user.is_authenticated %}
							{% if perms.articulo.add_articulo %}

							{% endif %}
						{% endif %}
						<!-- sidebar menu -->
						<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
							<div class="menu_section"><br><br><br><hr>

								<!--<h3>General</h3>-->
								<ul class="nav side-menu" >
									<li><a href="{% url 'inicio' %}"><i class="fa fa-home"></i>Inicio </a></li>
									<li><a><span class="glyphicon glyphicon-folder-open"></span>  &nbsp;&nbsp;Principal <span class="fa fa-chevron-down"></span></a>
										<ul class="nav child_menu" id="menu">
                                            <!--<li><a href="#">Plan de Cuentas</a></li>-->
											<li><a href="{% url 'lista_articulo' %}">Inventario</a></li>
											<li><a href="{% url 'proveedores:lista_proveedor' %}">Proveedor</a></li>
											<li><a href="{% url 'lista_categoria' %}">Cuenta Contable</a></li>
											<li><a href="{% url 'lista_medida' %}">Unidad de Medida</a></li>
											<li><a href="{% url 'lista_almacen' %}">Ubicacion</a></li>
											<li><a href="{% url 'lista_empleado' %}">Funcionario</a></li>
											<li><a href="{% url 'lista_departamento' %}">Unidad</a></li>
										</ul>
									</li>
									<li><a><span class="glyphicon glyphicon-sort"></span> &nbsp;&nbsp;Movimiento <span class="fa fa-chevron-down"></span></a>
										<ul class="nav child_menu" id="menu">
											<li><a href="{% url 'lista_ingreso' %}">Ingresos</a></li>
											<li><a href="{% url 'lista_salida' %}">Salidas</a></li>
										</ul>
									</li>
									<li><a><span class="glyphicon glyphicon-stats"></span> &nbsp;&nbsp;Reporte <span class="fa fa-chevron-down"></span></a>
										<ul class="nav child_menu" id="menu">
											<li><a href="{% url 'report-ingresos' %}">Reporte Ingreso</a></li>
											<li><a href="{% url 'report-salidas' %}">Reporte Salida</a></li>
											{% comment %}
												<li><a href="{% url 'crear_reporte_ingresos' %}">Reporte Ingreso Total</a></li>
											{% endcomment %}
											{% comment %}
												<li><a href="{% url 'crear_reporte_salidas' %}">Reporte Salida Total</a></li>
											{% endcomment %}
										</ul>
									</li>
									<!--<li><a><i class="fa fa-table"></i> Otros <span class="fa fa-chevron-down"></span></a>
										<ul class="nav child_menu" id="menu">
											<li><a href="#">1</a></li>
											<li><a href="#">2</a></li>
										</ul>
									</li>-->
								</ul>
							</div>
						</div>
						<!-- /sidebar menu -->
					</div>
				</div>

				<!-- top navigation -->
				<div class="top_nav">
					<div class="nav_menu">
						<nav>
							<div class="nav toggle">
								<a id="menu_toggle"><i class="fa fa-bars"></i></a>
							</div>

							<ul class="nav navbar-nav navbar-right" >
								<li class="">
									<a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
										<img src='/media/{% perfil request.user.id %}' alt="">{{ user.first_name }}&nbsp;{{ user.last_name}}
										<span class=" fa fa-angle-down"></span>
									</a>
									<ul class="dropdown-menu dropdown-usermenu pull-right">
										<li><a href="{% url 'salir' %}"><i class="fa fa-sign-out pull-right"></i> Cerrar Sesion</a></li>
									</ul>
								</li>
								<!--<ul class="nav navbar-nav navbar-right" id="menu">
									<li><a href="#"> Ayuda</a></li>
								</ul>-->

							</ul>
						</nav>
					</div>
				</div>
				<!-- /top navigation -->

				<!-- page content -->
				<div class="right_col" role="main">
					<!--<div class="page-title">
						<div class="title_left">
							<h3>Plain Page</h3>
						</div>
					</div>-->

            		<div class="clearfix"></div>

					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div id="container">
								{% block container %}

								{% endblock container %}
							</div>
						</div>
					</div>



				</div>
				<!-- /page content -->

				<!-- footer content -->
				<footer>
					<div class="pull-right">
						Entidad Municipal de Aseo Potosi
					</div>
					<div class="clearfix"></div>
				</footer>
				<!-- /footer content -->
			</div>
		</div>

		<script>window.jQuery || document.write('<script src="{% static "js/jquery.min.js" %}"><\/script>')</script>
		<script src="{% static "web/bootstrap/js/bootstrap.min.js" %}"></script>
		<script src="{% static "web/nprogress/nprogress.js" %}"></script>
		<script src="{% static "js/custom.min.js" %}"></script>

		{% block js %}	{% endblock js %}
	</body>
</html>