
{% extends "base/base.html" %}


{% block container %}
<div class="x_panel">
	<div class="x_title">
		<h2>Registrar Ubicacion</h2>
		<div class="clearfix"></div>
	</div>
	<div class="x_content">
		<form action="" method="POST" id="formulario">{% csrf_token %}
			<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-4 col-xs-12">
				{% for field in form %}
						{{ field.label_tag}}
						{{ field }}
					<span class="help-block">{{ field.errors }}</span>
					{{ field.help }}
				{% endfor %}
				<!--<div class="form-group">
					<label for="">Nombre</label>
					{{ form.descripcion }}
					<span class="help-block">{{form.descripcion.errors}}</span>
				</div>-->

				<div class="text-center">
					<input type="submit" value="Guardar" class="btn btn-primary btn-sm">
					<a href="{% url 'lista_almacen' %}" class="btn btn-default btn-sm" id="lista_almacen">Cancelar</a>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock container %}


{% comment %}
{% block js %}
	<script type="text/javascript">
		$(document).ready(function($) {
			//var page = '';
			//history.pushState(page, 'Ubicacion', '/almacen/');
			$("#lista_almacen").on("click", function(e){
				e.preventDefault()
				$.ajax({
					url: '/almacen/',
					type: 'GET',
					data: {},
				})
				.done(function(response) {
					$("#container").html(response)
				})
				.fail(function() {
					console.log("error");
				})
				.always(function() {
					console.log("complete");
				});
			})
		});
	</script>
	<script type="text/javascript">
		$(document).ready(function($) {
			$("#formulario").submit(function(event) {
				//var page = '';
				//history.pushState(page, 'Ubicacion', '/almacen/');
				var info=$(this).serializeObject()
				$.ajax({
					url: '/crear/almacen/',
					type: 'POST',
					data: info,
				})
				.done(function(response) {
					$("#container").html(response)
				})
				.fail(function() {
					console.log("error");
				})
				.always(function() {
					console.log("complete");
				});
				return false;
			});
		});
	</script>
{% endblock js %}
{% endcomment %}
