{% extends "base/base.html" %}
{% block container %}
<div class="x_panel">
	<div class="x_title">
		<h2>Eliminar Cuenta Contable</h2>
		<div class="clearfix"></div>
	</div>
	<div class="x_content">
		<form method="POST" id="formulario">{% csrf_token %}
			<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-4 col-xs-12">
				<h4 class="text-center">Desea eliminar el cuenta contable.. <b>{{object.descripcion}}</b>...?</h4>
				<br><br>
				<div class="text-center">
					<input type="submit" value="Si,  seguro" class="btn btn-danger btn-sm">
					<a href="{% url 'lista_categoria' %}" class="btn btn-default btn-sm">Cancelar</a>
				</div><br>
			</div>
		</form>
	</div>
</div>
{% endblock container %}
